<h2> All Flights</h2>

<% @flights.each_with_index do |flight, index| %>
  <p><%= link_to flight.code, flight_path(flight.id) %> <%= flight.depart_time %> <%= @departure_airports[index].city %> to <%= @arrival_airports[index].city %> </p>

<% end %>
