<h2>User List</h2>

<% @users.each do |user| %>
  <div class="details">
    <p>
      <%= link_to user.name, user_path(user.id) %>,
      Email: <%= user.email %>,
      Mobile: <%= user.mobile %>
    </p>
  </div>

<% end %>
