// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  font-size: 1.5rem;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

li {
  padding: 0 8px;
}

li a {
  margin: 0;
}

a {
  margin-left: 3%;
}

h1 {
  margin: 3% auto;
  color: black;
  font-size: 6rem;
  letter-spacing: 8px;
}

h2 {
  margin: 4% auto;
  font-size: 4rem;
}

h3 {
  margin: 5% 0 3% 0;
  font-size: 2.5rem;
  font-weight: 600;
}

div.section-group {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section {
  display: inline-block;
  width: 42%;
}

.info {
  line-height: 1.7;
}

form {
  margin-bottom: 5%;
}

label {
  display: inline;
}

.form-control {
  display: inline-block;
  margin-top: 1px;
  width: 70%;
}

#confirm-password {
  width: 40%;
}

div.field_with_errors {
  display: inline;
}

.row {
  width: 75%;
  margin: 4% auto;
}

label {
  font-size: inherit;
  text-align: left;
}

input, select {
  margin: 0 4% 0 1%;
  text-align: center;
}

.admin-form {
  margin-right: 100px;
}

.flight-code {
  margin: 0 1%;
}

.flight-list {
  margin: 40px 50px 100px 0;
}

#flight_arrival_airport_id {
  margin: 18px 100px 18px 0;
}
