// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
}

h1 {
  font-size: 5rem;
}

a {
  margin: 0 2%;
}
